.search-bar {
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 0;
	padding: 0;
}

.input-group {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 30px;
}

.input-text {
	width: 90%;
	font-size: 18px;
}

.suggestion-list {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 0;
	/* gap: 5px; */
}

.suggestion-item {
	list-style: none;
	padding: 5px 10px 5px 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.suggestion-item:hover {
	border-top: 1px solid rgb(189, 187, 187);
	border-bottom: 1px solid rgb(189, 187, 187);
}
